@import '../../../styles/base.scss';

.get-intelligent-wrapper {
  text-align: center;
  height: 528px;
  background-color: #4e54d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $mmk-white;

  @include media('<tablet') {
    height: fit-content;
    padding: 32px 0 44px 0;
  }

  h1 {
    color: white;

    @include media('<tablet') {
      padding: 0 76px;
    }
  }

  button {
    margin-top: 59px;
    width: 263px;
    height: 92px;
    border-radius: 37px;
    background-color: #f5a623;
    color: $mmk-white;
    font-family: HelveticaNeue;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.07px; 
    text-transform: uppercase;

    @include media('<tablet') {
      height: 56px;
      width: 240px;
      border-radius: 24px;
      font-size: 18px;
      line-height: 22px;
      margin-top: 32px;
    }
  }

  &-short-txt {
    margin-top: 10px;
    display: flex;

    align-items: center;

    @include media('<tablet') {
      align-items: flex-start;
    }

    p {
      margin-right: 8px;
      color: $mmk-white;
    }

    img {
      @include media('<tablet') {
        width: 66px;
      }
    }
  }
}