@mixin font-frame-3() {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.0378437px;
  color: $mmk-white;
}

@mixin font-hero-title {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.126146px;

  color: $mmk-white;

  @include media('<tablet') {
    font-size: 28px;
    line-height: 34px;
  }
}

@mixin font-hero-subtitle {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height, or 129% */

  letter-spacing: 0.044151px;

  color: $mmk-white;

  @include media('<tablet') {
    font-size: 14px;
    line-height: 17px;
  }
}
